body {
  margin: 0;
  font-family: "Lucida Console", Monaco, monospace;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }

  a:link {
    color: white;
    text-decoration: none;
    }
    
    a:visited {
    color: white;
    text-decoration: none;
    }
    
    a:hover {
    color: lime;
    text-decoration: none;
    }
    
    a:active {
    color: lime;
    text-decoration: none;
    }

  header {
    background-color: black;
    padding-top: 10px;
    padding-bottom: 0px;
    color: white;
    text-align: center;
    font-size: 20px;
  }

  footer {
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 10px;
    height: 30px;
    line-height: 30px;
  }

  #section {
    margin-top: 10px;
  }
  
  #canvas {
    height: 40vw;
    width: 40vw;
    float: left;
    margin-left: 10px;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
  }

  #instructions {
    float: left;
    width: 50%;
    padding: 0px 10px 10px 10px;
    vertical-align: top;
  }
  

  #menuLeft {
    float: left;
    width: 25%;
    padding: 10px;
  }

  #menuRight {
    float: left;
    width: 25%;
    padding: 10px;
  }

  #section:after {
    content: "";
    display: table;
    clear: both;
  }

  .cell {
    height: flex;
    width: flex;
    text-align: center;
  }

  #paletteContainer {
    width: 136px;
    height: auto;
    margin: 0;
    padding-left: 20px;
    text-align: center;
  }

  #palette {
    width: auto;
    float: left;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
  }

  #activeColor {
    float: left;
    width: 136px;
    height: 2.4em;
    line-height: 1.2em;
    text-align: center;
    margin-top: 30px;
    border: 1px solid black;
    -webkit-text-stroke: 1px black;
    color: white;
    font-size: 2em;
    font-weight: 900;
  }

  .pad {
    height: 2em;
    width: 2em;
    border: 1px solid rgb(29, 29, 29);
    text-align: center;
  }     

  .pad:hover {
    border: 1px solid white;
  }

  input {
    width: 3em;
  }

  #rainbowBtn {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: darkslategrey;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px slategrey;
  }
    
  #rainbowBtn:hover {background-color: black;}
    
  #rainbowBtn:active {
    background-color: black;
    box-shadow: 0 5px slategrey;
    transform: translateY(4px);
  }
